*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 160px;
}
.page{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 2fr 1fr 4fr 1fr ;
    grid-template-areas: "header header"
    "form menu"
    "body menu"
    "footer menu";
}
.page .headerContent{
    background-color: #e7e7c4;
    grid-area: header ;

}
.page .menuContent{
    background-color: #cf9a7b;
    grid-area: menu ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.page .formContent{
    background-color: #e48b8b;
    grid-area:form ;
}
.page .bodyContent{
    background-color: #adada9;
    grid-area: body;

}
.page .footerContent{
    background-color: #b6a9a9;
    grid-area: footer;
}
.btn{
    width: 150px;
    height: 150;
    border-radius: 50%;
    position: relative;
    top :0px;
    right: 11px;
}